/* red-hat-text-500 - latin */
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/red-hat-text-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/red-hat-text-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* red-hat-text-regular - latin */
  @font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/red-hat-text-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* aleo-regular - latin */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/aleo-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/aleo-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* aleo-italic - latin */
  @font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/aleo-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/aleo-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* aleo-700 - latin */
  @font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/aleo-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/aleo-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* aleo-700italic - latin */
  @font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    src: local(''),
         url('../fonts/aleo-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/aleo-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* magra-regular - latin */
@font-face {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/magra-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/magra-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* magra-700 - latin */
  @font-face {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/magra-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/magra-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html {
    box-sizing: border-box;
  }
  *,*::before, *::after {
    box-sizing: inherit;
  }
  body {
    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;

/*header styles start*/
  }
  .wrapper{
    max-width: 1440px;
    margin: 0 auto;
  }

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #F2785C;
    opacity: 0.7;
    height: 90px;
}
.head-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 120px;
    padding-top: 25px;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 158px;
   
}
.header-item {
    margin-right: 42px;
}
.header-link {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
     color: #FFFFFF;
}
.header-link:hover,.header-link:focus,.header-link:active {
    opacity: .75;
}
/* header styles end */

/* intro styles start */
.intro {
    height: 100vh;
    background: url(../img/intro.png) no-repeat, center;
    background-size: cover;
    padding-top: 122px;
}
.intro-title {
    margin-left: 120px;
    font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 96px;
max-width: 892px;
color: #FFFFFF;
}
.sub-title {
    font-family: 'Aleo';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
margin-left: 120px;
max-width: 723px;
padding-top: 80px;
}